<div id="main_jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container-fluid" align="center">
    <h1 id="quote_text" class="text-focus-in" style="font-size: {{{font_size}}}">
      "{{{quote.text}}}"
    </h1>
    <span id="quote_src" class="text-focus-in-delay">
      - {{{quote.src}}}
    </span>
  </div> <!-- /container -->
</div> <!-- /jumbotron -->

