$bg-color: #5479a3;
$fg-color: #e5e5e5;

html, body {
  font-family: 'Satisfy', cursive;
  font-size: 22px;
  color: $fg-color;
  height: 100%;
}

a {
  color: #00B7FF;
}

#main_jumbotron {
  height: 100vh;
  background: $bg-color url('/images/bg.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;
}


#quote_text {
  line-height: 1.4em;
  text-shadow: 1px 1px 0px #666, 3px 3px 16px black;
  padding: 0 0.4em;
}

#quote_src {
  text-shadow: 1px 1px 8px black;
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-delay {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
  animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

